[submodule "vim/bundle/vundle"]
    path = vim/bundle/vundle
    url = https://github.com/gmarik/vundle.git
    ignore = dirty
[submodule "vim/bundle/syntastic"]
    path = vim/bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
