vim/bundle/YouCompleteMe/
vim/bundle/Zenburn/
vim/bundle/ctrlp.vim/
vim/bundle/diffchanges.vim/
vim/bundle/rainbow_parentheses.vim/
vim/bundle/vim-autoclose/
vim/bundle/vim-autopep8/
vim/bundle/vim-javascript/
vim/bundle/vim-python-pep8-indent/
vim/bundle/vim-web-indent/
vim/bundle/xmledit/
vim/undo/

vim/bundle/vim-markdown/
vim/bundle/emmet-vim/
vim/bundle/delimitMate/
vim/bundle/tern_for_vim/
vim/bundle/syntastic
vim/bundle/vim-fugitive
vim/bundle/JavaScript-Indent/
vim/bundle/js-beautify/
vim/bundle/vim-indent-guides/
vim/bundle/vim-jsbeautify/
