vim/bundle/YouCompleteMe/
vim/bundle/Zenburn/
vim/bundle/ctrlp.vim/
vim/bundle/diffchanges.vim/
vim/bundle/rainbow_parentheses.vim/
vim/bundle/vim-autoclose/
vim/bundle/vim-autopep8/
vim/bundle/vim-javascript/
vim/bundle/vim-python-pep8-indent/
vim/bundle/vim-web-indent/
vim/bundle/xmledit/
vim/undo/

vim/bundle/vim-markdown/
