vim/bundle/Clam/*
vim/bundle/DirDiff.vim/*
vim/bundle/Lawrencium/*
vim/bundle/Zenburn/*
vim/bundle/ctrlp.vim/*
vim/bundle/diffchanges.vim/*
vim/bundle/git-cheat/*
vim/bundle/gitv/*
vim/bundle/jedi-vim/*
vim/bundle/linediff.vim/*
vim/bundle/nerdcommenter/*
vim/bundle/rainbow_parentheses.vim/*
vim/bundle/vim-autoclose/*
vim/bundle/vim-fugitive/*
vim/bundle/vim-mercenary/*
vim/bundle/vim-python-pep8-indent/*
vim/bundle/vim-web-indent/*
vim/bundle/xmledit/*
vim/bundle/vim-javascript/

